{{> navbar}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <p class="error-404">
                    Oops!</p>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Lo Sentimos, ha ocurrido un error, pagína requerida no encontrada!
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-home"></span>Volver al Inicio</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>
