{{> navbar}}
<div class="container aboutme">
    <div class="row border">
        <div class="col-md-12">
            <div class="error-template">
                <img class="rounded-circle" src="/img/profile_pic.jpg" width="400px">
                <p class="error-404">
                    Claudio González</p>
                <h2>
                    Estudiante de Programación en segundo año.</h2>
                <div class="error-details">
                    Profesional dedicando su vida a hacer de este mundo un mejor lugar a través de NodeJS :)
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-home"></span>Volver al Inicio</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>