{{> navbar}}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <p class="contact-delete">
                    Contacto eliminado!
                </p>
                <div>
                  <img class="rounded-circle" src="/img/{{this.picture}}" width="200px" height="200px">
                </div>
                <h2>
                    {{first_name}} {{last_name}}</h2>
                <div class="delete-details">
                    El usuario ha sido eliminado de la base de datos de contactos.
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-primary btn-md"><span class="glyphicon glyphicon-home"></span>Volver al Inicio</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>