<nav class="navbar navbar-light bg-light">
  <div class="container d-flex justify-content-between">
    <a href="/" class="text-decoration-none">
      <span class="navbar-brand mb-0 h1">Libreta de contactos de Perrin</span>
    </a>
    <a href="/articles/create">
      <button class="btn btn-outline-success">
        <i class="fas fa-plus"></i>
        Agrega un contacto
      </button>
    </a>
  </div>
</nav>